header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
}

.logo {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 100px;
}

@media (max-width: 720px) {
    header {
        height: 150px;
        padding: 0 6px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }
}
