.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
}

.page {
    width: 40px;
    height: 30px;
    outline: none;
    border-style: unset;
    box-shadow: inset 0px 0px 4px #0009;
    text-align: center;
    font-size: 1rem;
}

.page-total {
    width: 40px;
    text-align: center;
    font-size: 1.1rem;
}
.page-action {
    width: 50px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}
.page-action:hover {
    background-color: #ddd;
}
