*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #0AC6E2;
}
.container{
    width: 600px;
    display: grid;
    gap: 16px;
    padding: 32px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}
.container h1{
    font-size: 2.5rem;
    color: #333;
}
.quote{
    padding: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
    line-height: 150%;
}

.new-quote{
    padding: 16px;
    font-size: 1.5rem;
    color: #fff; 
    background-color: #0AC6E2;
    border: none;
    cursor: pointer;
}
@media (max-width:768px) {
    .container {
        height: 80%;
        width: 80%;
    }
    .container h1{
        font-size: 2rem;
    }
}